svg.drawing {
	width: 100vw;
	height: 99vh;


	--turtle: #0a07;
	--turtle-stroke: #0a0f;
	--marker : red;

}



.page {

	stroke: var(--marker);
	stroke-width: 2px;

	.marker {
		r: 10px;
		fill: var(--marker);
		display: none;
	}

	&.show-marker .marker{
		display:inline;

		&:hover {
			r: 20px;
		}
	}

}


.turtle {
	fill: var(--turtle);
	stroke: var(--turtle-stroke);
	stroke-width: 3px;

	.head { fill: var(--turtle-stroke); }
	.feet { fill: var(--turtle-stroke); }

	--size: 10;
	--body: calc(var(--size) * 4px);
	--head: calc(var(--size) * 2px);
	--foot: calc(var(--size) * 1px);

	--threeFifths: calc((3/5) * var(--size) * 4px);
	--fourFifths:  calc((4/5) * var(--size) * 4px);

	/* I could have done most of this with a transform... */

	&:hover {
		--size:12;
	}

	.body { r: var(--body); cx:0px; cy:0px; }
	.head { r: var(--head); cx:0px; cy:calc(-2 * var(--head) ); }
	.fl   { r: var(--foot); cx:calc(-1 * var(--fourFifths) ); cy:calc(-1 * var(--threeFifths)); }
	.fr   { r: var(--foot); cx:calc(+1 * var(--fourFifths) ); cy:calc(-1 * var(--threeFifths)); }
	.bl   { r: var(--foot); cx:calc(-1 * var(--threeFifths) ); cy:calc(+1 * var(--fourFifths)); }
	.br   { r: var(--foot); cx:calc(+1 * var(--threeFifths) ); cy:calc(+1 * var(--fourFifths)); }
}



#input-instruction {
	height:15em;
}