.form-group {

	font-family:sans-serif;
	position:absolute;
	right:0ex;

	h1 { font-size:3ex; margin-top:0em; }
	h2 { font-size:2ex; margin-top:2ex; margin-bottom:1ex; }

	form  {
		display: grid;
		border:1px solid silver;
		background-color:#eee9;
		border-radius: 1ex;
		padding:1ex;
		margin: 1ex;
	}

	label:after { content:':'; }

	label.noafter:after { content:''; }

	hr { width:100%;  } /* border:1px dotted silver inset; */
}