

html {
	--silver: #bbbb;


	margin:0px;
	padding:0px;

	body {
		margin:0px;
		padding:0px;
	}
	scrollbar-width: none;
	/*
	there are 5 extra pixels on the body height coming from somewhere...
	might be a line-box thing on the svg element
	*/
}

summary {
	cursor: pointer;
}

form {
	display: grid;
	border:1px solid silver;
	background-color:#eee9;
	border-radius: 1ex;
	padding:1ex;
	margin: 1ex;
	font-family:sans-serif;

	h1 { font-size:3ex; margin-bottom: 1ex; }
	h2 { font-size:2ex; margin-top:2ex; margin-bottom:1ex; }
	h1:nth-child(1), h2:nth-child(1) { margin-top:0ex; }

	details { margin-top:1ex; margin-bottom: 0ex; }

	hr { width:100%; }

	#input-command {
		height:15em;
	}

	#turtle-instructions {
		display: grid;
		font-family: monospace;
		font-size: 1em;
		background-color: #fffc;
		padding:1ex;
		border:1px solid var(--silver);
	}

	#turtle-report {
		font-family: monospace;
		font-size: 1em;
		white-space: pre;
		background-color: #fffc;
		padding:1ex;
		border:1px solid var(--silver);
	}


	/*
	label:after { content:':'; }
	label.noafter:after { content:''; }
	*/

	input[type=color] { width: 10ex; margin-right:0.7ex; }
	input[type=range] { width: 10ex; }

	/* label.theme { font-size:1.4em; vertical-align:middle; } */

}/* form */



.control-group {

	&.control-left {
		position:absolute;
		left:0ex;
	}

	&.control-right {
		position:absolute;
		right:0ex;
	}

}



@media (prefers-color-scheme:dark) {

}

@media (prefers-color-scheme:light) {

}



body.light {

	background-color:white;

	form {
		color: black;
		background-color:#eee9;
		border-color: #bbbb;
	}

}

body.dark {
	background-color:black;
	form {
		color: white;
		background-color:#7779;
		border-color: #9999;
	}
	button {
		color:white;
		background-color: #555;

	}

}


