/* Turtle
*/

svg {
	font-family: serif;
}

.svg-element {
	width: 100vw;
	height: 100vh;
}

svg:focus-within {
	outline: 1px dotted var(--accent);
	outline-offset: -1px;
	/* filter: drop-shadow(0px 0px 2px var(--accent)); */
	/* transition: 1s; */
}

.grid {
	--colour-cartesian: var(--teal);
	--colour-polar: var(--pink);
	fill:none;

	stroke-width: 1px;

	.cartesian-grid {
		stroke: var(--colour-cartesian);
		.axis  { stroke-width: 5px; }
		.major { stroke-width: 2px; }
		.minor { stroke-width: 1px; }
		.label { fill: var(--colour-cartesian); }
		.origin { r: 10px; stroke-width: 3px; }

		.axis line {
			marker-start:url(#axisMarker-cartesian);
			marker-end:url(#axisMarker-cartesian);
		}
	}


	.polar-grid {
		stroke: var(--colour-polar);
		.axis  { stroke-width: 10px; }
		.major { stroke-width: 2px; }
		.minor { stroke-width: 1px; }
		.label { fill: var(--colour-polar); }

		.axis line {
			marker-end:url(#axisMarker-polar);
		}
	}

	marker path {
		/* stroke-width:10px; */
		fill: context-stroke;
		opacity: 60%;
		/* stroke: context-stroke; */
	}


	/* stroke-dasharray: 10 10;    dashes */
	/* stroke-dasharray: 10 80 20 80 10;  crosses  */



	.label {
		stroke: none;
		font-size: 25px;
		dominant-baseline: ideographic;
		font-family: monospace;
	}

	.cartesian-grid .label {
		text-anchor: end;
		.x {
			writing-mode: vertical-lr;
		}
	}

	.polar-grid .label {
		text-anchor: start;
	}

	line:hover, circle:hover, path:hover {
		stroke-width: 10px;
		filter: drop-shadow(0px 0px 10px #fa0f);
	}




}/* .grid */

.def-point {
	r: 20px;
	stroke-width: 20px;
}

.cartesian-point line,
.polar-point line,
.polar-point path,
.polar-point circle
{
	stroke-width: 5px;
	/* stroke: #f00c; */
	stroke: var(--fadedred);

	/* stroke-dasharray: 15 5; */
}

.polar-point circle {
	opacity:30%;
	/* stroke-dasharray: 10 10; */
}

.light {
	.use-point {
		fill: var(--fadedred);
		fill-opacity: 30%;
		stroke: var(--fadedred);
		stroke-opacity: 30%;
	}
}
.dark {
	.use-point {
		fill: var(--fadedred);
		fill-opacity: 30%;
		stroke: var(--fadedred);
		stroke-opacity: 30%;
	}
}




.drawing {
	--draw-colour: #f00;
	stroke: var(--draw-colour);
	fill: var(--draw-colour);
	fill-opacity: 50%;

	stroke-width: var(--drawing-stroke-width);
	stroke-linecap: round;
	stroke-linejoin: miter;
	paint-order: stroke;

	.marker {
		display: none;
	}

	&.show-marker .marker{
		display:inline;
	}

	text {
		text-anchor: middle;
		dominant-baseline: middle;
		font-style:normal;
		stroke:none;
		font-size: calc(10px * var(--drawing-stroke-width));
		fill-opacity:100%;
	}

}

#def-marker {
	--foo: 5;
	--scale-min: 1;

	--scale: max(var(--drawing-stroke-width) /5, var(--scale-min) );
	--scale-temp: calc(var(--drawing-stroke-width) /5 );

	stroke-width: 0px;

	scale: var(--scale);

	/* d: path('m0,-30 L10,10 L-10 10 z'); */

	&:hover {
		scale: calc(var(--scale) * 1.8);
	}
}




#def-turtle-calc {
	/* transition: all ease-in var(--transition-duration); */

	--size: var(--turtle-size);
/*
	 */

	/* I could have done most of this with a transform... */
	--body: calc(var(--size) * 4px);
	--head: calc(var(--size) * 2px);
	--foot: calc(var(--size) * 1px);
	--eye: calc(var(--size) * 0.5px);

	--threeFifths: calc((3/5) * var(--size) * 4px);
	--fourFifths:  calc((4/5) * var(--size) * 4px);

	.body { r: var(--body); cx:0px; cy:0px; }
	.head { r: var(--head); cx:0px; cy:calc(-2 * var(--head) ); }
	.el   { r: var(--eye); cx: calc(-2 * var(--eye)); cy:calc(-1.1 * var(--body)); }
	.er   { r: var(--eye); cx: calc(+2 * var(--eye)); cy:calc(-1.1 * var(--body)); }
	.fl   { r: var(--foot); cx:calc(-1 * var(--fourFifths) ); cy:calc(-1 * var(--threeFifths)); }
	.fr   { r: var(--foot); cx:calc(+1 * var(--fourFifths) ); cy:calc(-1 * var(--threeFifths)); }
	.bl   { r: var(--foot); cx:calc(-1 * var(--threeFifths) ); cy:calc(+1 * var(--fourFifths)); }
	.br   { r: var(--foot); cx:calc(+1 * var(--threeFifths) ); cy:calc(+1 * var(--fourFifths)); }
}


#def-turtle, .turtle-nocalc {
	/* transition: all ease-in var(--transition-duration); */
/*
	--turtle: #0a07;
	--turtle-stroke: #0a0f;
	fill: var(--turtle);
	stroke: var(--turtle-stroke);

	.head { fill: var(--turtle-stroke); }
	.feet { fill: var(--turtle-stroke); }
	.eyes { fill: yellow; stroke:none;} */

	.body { r: 40px; cx:0px; cy:0px; }
	.head { r: 20px; cx:0px; cy:-40px; }
	.el   { r: 5px; cx:-10px; cy:-44px; }
	.er   { r: 5px; cx:+10px; cy:-44px; }
	.fl   { r: 10px; cx:-32px; cy:-24px; }
	.fr   { r: 10px; cx:+32px; cy:-24px; }
	.bl   { r: 10px; cx:-24px; cy:+32px; }
	.br   { r: 10px; cx:+24px; cy:+32px; }

}


.turtle {

	--body-fill: var(--turtle-body);
	--body-stroke: var(--turtle-outline);
	--head-stroke: var(--body-stroke);
	--turtle-size: 10;
	stroke-width: 4px;

	fill: var(--body-fill);
	stroke: var(--body-stroke);

	.feet { fill: var(--body-stroke); }
	.head {
		fill: var(--head-fill);
		stroke: var(--head-stroke);
	}
	.eyes {
		fill: var(--eye-colour); stroke:none;
	}

	filter: drop-shadow(0px 0px 30px #ff07);
	/* &:focus {
		transition: 0s;
		outline: 2px solid var(--accent);
	} */
}

.turtle-calc-hover {
	/* transition: all ease-in var(--transition-duration); */
	&:hover {
		--turtle-size:15;
	}
}

.turtle-hover {
	transform-box: content-box;
	transform-origin: 50% 60%;		/* ~60% to account for head non-symmetry */
	&:hover {
		scale:150%;
	}
}



.terry {
	--head-fill: var(--body-stroke);
	--eye-colour: yellow;
}


.leonardo {
	--head-fill: #05f;
	--eye-colour: yellow;
}

.michelangelo {
	--head-fill: red;
	--eye-colour: yellow;
}

.donatello {
	--head-fill: purple;
	--eye-colour: yellow;
}

.raphael {
	--head-fill: yellow;
	--eye-colour: black;
}



